<div class="container">
    <h1>Future Appointments</h1>
    <table class="table">
        <tr>
            <th>Appointment time</th>
            <th>Duration</th>
            <th>Patient Name</th>
            <th>Checked In</th>
            <th>Wait time</th>
        </tr>
        {% for appointment in future%}
        <tr>
            <td>{% load tz %}
                {{ appointment.appointment_time|time }}</td>
            <td>{{ appointment.duration }} min</td>
            <td>{{ appointment.patient_name }}</td>
            <td>{% if appointment.checkedin_status %}
                <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                {% endif %}
            </td>
            <td>{% if appointment.checkedin_time %}
                {{ appointment.checkedin_time|timesince }}
                {% else %}
                Not arrived
                {% endif %}
            </td>
        </tr>
        {% endfor%}
    </table>
</div>
<div class="container">
    <h1>Past Appointments</h1>
    <table class="table">
        <tr>
            <th>Appointment time</th>
            <th>Duration</th>
            <th>Patient Name</th>
            <th>Current Status</th>
        </tr>
        {% for appointment in past%}
        <tr>
            <td>{{ appointment.appointment_time }}</td>
            <td>{{ appointment.duration }} min</td>
            <td>{{ appointment.patient_name }}</td>
            <td>{{ appointment.appointment_status }}</td>
        </tr>
        {% endfor%}
    </table>
</div>