# Get your tokens from the drchrono.com website under Account->API

SOCIAL_AUTH_CLIENT_ID=nPG52kGnTNV7HauyMhrdXolcemok798qEh0fiEjo
SOCIAL_AUTH_SECRET=crnOfFxZN1uEc3carkmPjnRgH7NsqeM6J1PP7QclEIgOZdsuUs7pWwLILZyJJgrQoo5ddKjES2gueHu0ToWUeSAv4budxC1SpGziO9Qhilb5uAAB6zgMB5rhMZwYoMyp